<h1 mat-dialog-title>Añadir sala</h1>
<!-- <form [formGroup]="roomForm">

    <mat-form-field>
      <input matInput type="text" placeholder="Nombre de la sala" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Capacidad máxima" formControlName="maximum_capacity" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Ocupación" formControlName="occupancy" />
    </mat-form-field>

  </form> -->

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
