<div fxLayout="column" class="container">
  <div fxFlex="100%" fxFlexFill fxLayoutAlign="start center">
    <h1>Salas</h1>
  </div>

  <div fxFlex="100%" fxFlexFill fxLayoutAlign="start center">
    <mat-form-field appearance="fill">
      <mat-label>Planta</mat-label>
      <mat-select>
        <mat-option *ngFor="let floor of floors" [value]="floor.name">
          {{ floor.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <mat-card>
    <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" [size]="1.5"></app-loader>
        {{ floors | json }}
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
