@use "@angular/material" as mat;
@import "src/theme/theme-variables";

.floors-container {
  padding: 1em;

  .rooms-container {
    border-radius: 26px;
    border: 1px mat.get-color-from-palette($app-primary) solid;
    padding: 20px;
  }

  .page-title {
    font-family: Helvetica;
  }
}
