<div class="floors-container" fxLayout="column" fxLayoutAlign="start center">
  <h1 fxFill class="page-title">Salas</h1>

  <div fxFill>
    <mat-form-field appearance="outline">
      <mat-select (selectionChange)="onSelectionFloorChange($event.value)" placeholder="Selecciona planta...">
        <mat-option *ngFor="let floor of floors" [value]="floor">
          {{ floor.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-divider fxFill></mat-divider><br />

  <div class="rooms-container" fxFill fxLayout="column" fxLayoutAlign="start center">
    <div fxFill fxLayoutAlign="space-between center">
      <div fxFlex="50%">
        <h2 class="selected-floor-heading">{{ selectedFloor?.name }}</h2>
      </div>
      <div fxFlex="50%" fxLayoutAlign="end center">
        <button mat-flat-button color="primary" (click)="openDialog(action.CREATE)" [disabled]="!selectedFloor">
          Añadir sala
        </button>
      </div>
    </div>

    <div fxFill *ngIf="selectedFloor">
      <app-searchbar
        title="Buscar planta"
        [isLoading]="isLoading"
        [includeCreateButton]="false"
        (buttonRefreshEvent)="getFloors()"
        (searchQueryEvent)="getRoomsByName($event)"
        (buttonCreateEvent)="openDialog(action.CREATE)"
      >
      </app-searchbar>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutAlign.xs="center center" fxLayoutGap="15px">
      <app-room
        *ngFor="let room of rooms"
        [room]="room"
        [isLoading]="isLoading"
        (formControlEvent)="updateRoom($event)"
        (updateButtonEvent)="openDialog(action.UPDATE, $event)"
        (deleteButtonEvent)="openDialog(action.DELETE, $event)"
      ></app-room>
    </div>
  </div>
</div>
