/* For use in src/lib/core/theming/_palette.scss */
$template-primary-color: (
  50: #e6e7ea,
  100: #c0c2ca,
  200: #979aa6,
  300: #6d7182,
  400: #4d5268,
  500: #2e344d,
  600: #292f46,
  700: #23273d,
  800: #1d2134,
  900: #121525,
  A100: #677bff,
  A200: #344fff,
  A400: #0123ff,
  A700: #001fe6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$template-accent-color: (
  50: #fefeff,
  100: #fcfdfe,
  200: #fafbfd,
  300: #f8f9fc,
  400: #f7f8fc,
  500: #f5f7fb,
  600: #f4f6fa,
  700: #f2f5fa,
  800: #f0f3f9,
  900: #eef1f8,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
